<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/OperacionesOC.css">
  <link rel="stylesheet" href="/css/sidebarOC.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  
  <%- include('./components/sidebar') %>
  
  <%- include('./partials/content') %>
  
    <table border="1">
      <thead>
          <tr>
              <th>ID</th>
          </tr>
      </thead>
      <tbody>
          <% operaciones.forEach(op => { %>
              <tr>
                  <td><%= op.id_operacion %></td>
                  <td><%= op.cliente_id%></td>
                  <td><%= op.id_contrato%></td>
                  <td><%= op.tipo_operacion%></td>
                  <td><%= op.fecha_operacion%></td>
              </tr>
          <% }); %>
      </tbody>
    </table>

</body>
<script src="/js/Sidebar.js"></script>
</html>