<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
</head>
<body>
  
    <h1>Reportes (vista del Oficial de Cumplimiento)</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            <% reportes.forEach(rep => { %>
                <tr>
                    <td><%= rep.id_reporte %></td>
                    <td><%= rep.acusado %></td>
                    <td><%= rep.fecha_generacion %></td>
                    <td><%= rep.descripcion %></td>
                    <td><%= rep.evidencia_adjunta %></td>
                    <td><%= rep.estatus %></td>
                    <td><%= rep.formato_salida %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

</body>
</html>