<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/ReportesOC.css">
  <link rel="stylesheet" href="/css/sidebarOC.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  
  <%- include('./components/sidebar') %>
  
  <%- include('./partials/content') %>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            <% reportes.forEach(rep => { %>
                <tr>
                    <td><%= rep.id_reporte %></td>
                    <td><%= rep.acusado %></td>
                    <td><%= rep.fecha_generacion %></td>
                    <td><%= rep.descripcion %></td>
                    <td><%= rep.evidencia_adjunta %></td>
                    <td><%= rep.estatus %></td>
                    <td><%= rep.formato_salida %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

</body>
<script src="/js/Sidebar.js"></script>
</html>