<!DOCTYPE HTML>
<html>
<head>
    <%- include('./partials/css') %>
</head>
<body>
    <%- include('./components/sidebar') %>
    <%- include('./partials/content') %>
    <%- include('./partials/body') %>
</body>
<%- include('./partials/script') %>
<script src="/js/Sidebar.js"></script>
</html>